:root {
  --azul: #002f6c;
  --branco: #fff;
  --azul-hover: #001f4d;
}

body {
  font-family: "Nunito", sans-serif;
  background: var(--azul);
  color: var(--branco);
  min-height: 100vh;
}

.escudo-bg {
  position: fixed;
  inset: 0;

  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Clube_do_Remo.svg/250px-Clube_do_Remo.svg.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 420px;

  opacity: 0.05;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
}

.display-titulo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
}

.subtitulo {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.escudo-header {
  width: 90px;
}

.input-remo {
  background: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
}

.input-remo::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.btn-remo {
  background: white;
  color: var(--azul);
  font-weight: bold;
}

.btn-remo:hover {
  background: #d8e8ff;
}

.btn-outline-remo {
  border: 1px solid white;
  color: white;
}

.btn-outline-remo:hover {
  background: white;
  color: var(--azul);
}

.lista-remo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: none !important;
  border-radius: 10px !important;
}

.tarefa-texto {
  flex: 1;
  text-decoration: none;
  color: var(--azul);
  font-weight: 700;
}

.tarefa-texto:hover {
  text-decoration: underline;
}

.concluida .tarefa-texto {
  text-decoration: line-through;
  opacity: 0.5;
}

.badge-api {
  background: var(--azul);
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

.tarefa-acoes {
  display: flex;
  gap: 6px;
}

.card {
  border: none;
  border-radius: 12px;
}

.card-body {
  color: var(--azul);
}
